
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>Document</title>
</head>
<body>
    
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    <h1> Mi Blog Personal </h1>
    {% if posts %}
        {% for post in posts %}
            <h2>{{post.title}}</h2>
            <p>{{p.content}}</p>
        {% endfor %}
    {% else %}
        <h2> No Hay Posts</h2>
    {% endif %}
</body>
</html>